

/* CSS Variables */
:root {
    --primary-font: "Quicksand", sans-serif;
    --secondary-font: "Eagle Lake", cursive;
    --primary-color: #412b21; /* dark brown */
    --highlight-color: #dba490; /* peach */
    --highlight-color-light: #ead8c0; /* wheat */
    --contrast-color-primary: #92ada4; /* blue */
    --contrast-color-secondary: #ffd9a6; /* yellow */ 
}

/* Global styles */

body {
    font-family: var(--primary-font);
    background-color: var(--highlight-color-light);
}

h1,
h2,
h3 {
    font-family: var(--secondary-font);
    color: var(--primary-color);
}

img {
    max-height: 500px;
    height: 70%;
    width: auto;
}

.custom-button {
    background-color: var(--contrast-color-primary);
    color: var(--primary-color);
    }

/* Navbar */

.navbar-bg {
    background-color: var(--highlight-color);
}

.navbar-nav > a {
    color: var(--primary-color);
}

/* Logo in navbar */

.navbar-brand {
    font-family: var(--secondary-font);
    color: var(--primary-color);
}


/* Header */

#header .container-fluid {
    background-color: var(--highlight-color-light);
}

/* About me section */

#about {
    background-color: var(--contrast-color-primary);
}

#about > .container {
    background-color: var(--highlight-color-light);
    border-radius: 10px;
}


  
/* Books section */

#books .container-fluid {
    background-color: var(--contrast-color-primary);
}

#books .card {
    background-color: var(--highlight-color-light);
}

/* Center the book cover images and make them smaller */
.custom-img {
    width: 40%;
    display: block;
    margin: auto;
  }

/* Footer */

#footer {
    background-color: var(--highlight-color);
}

/* Removes the underline between the icons */
a {
    text-decoration: none;
}

i {
    font-size: 180%;
    color: var(--primary-color);
    padding: 1rem;
}

i:hover {
    color: var(--secondary-color);
}