

/* CSS Variables */
:root {
    --primary-font: "Quicksand", sans-serif;
    --secondary-font: "Eagle Lake", cursive;
    --primary-color: #815542; /* dark brown */
    --secondary-color: #8e7358; /* light brown */
    --highlight-color: #dba490; /* peach */
    --highlight-color-light: #ead8c0; /* wheat */
    --contrast-color-primary: #92ada4; /* blue */
    --contrast-color-secondary: #ffd9a6; /* yellow */ 
}

/* Global styles */

body {
    font-family: var(--primary-font);
    background-color: var(--highlight-color-light);
}

h1,
h2,
h3 {
    font-family: var(--secondary-font);
    color: var(--primary-color);
}

img {
    max-height: 500px;
    height: 70%;
    width: auto;
}


/* Footer */

#footer {
    background-color: var(--highlight-color);
}

i {
    font-size: 180%;
    color: var(--primary-color);
    padding: 1rem;
}